<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"	
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
		crossorigin="anonymous">
	</script>
</head>

<body>

<nav th:replace="layouts :: navbar"/>

	<div class="container">
	
	<h4>Current Projects</h4>
		<table>
			<thead>
				<tr>
					<th>Project Name</th>
					<th>Project Description</th>
					<th>Project Status</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="aProject : ${projects}">
					<td th:text="${aProject.name}"/>
					<td th:text="${aProject.description}"/>
					<td th:text="${aProject.stage}"/>
				</tr>
			</tbody>
		</table>
		
		<div>
		<h4>Employees</h4>
		<table>
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="anEmployee : ${employees}">
					<td th:text="${anEmployee.firstName}"/>
					<td th:text="${anEmployee.lastName}"/>
					<td th:text="${anEmployee.email}"/>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
	
	
</body>

</html>