<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" 
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
		crossorigin="anonymous"
	>
</head>

<body>
	<div class="container">
	<form action="/projects/save" th:object="${project}" method="POST">
	<input type="text" placeholder="Project Name" th:field="${project.name}">
	<select th:field="${project.stage}">
		<option th:value="NOTSTARTED">Not Started</option>
		<option th:value="INPROGRESS">In Progress</option>
		<option th:value="COMPLETED">Completed</option>
	</select>
	
	<textarea type="text" placeholder="Enter Project Description" th:field="${project.description}"></textarea>
	<button type="submit">Create Project</button>
	</form>
	</div>
</body>
</html>