<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" 
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
		crossorigin="anonymous"
	>
</head>

<body>

	<div class="container">
		<form action="/employees/save" th:object="${employee}" method="POST">
			<input type="text" placeholder="First Name" th:field="${employee.firstName}">
			<input type="text" placeholder="Last Name" th:field="${employee.lastName}">
			<input type="text" placeholder="Email Address" th:field="${employee.email}">
		<button type="submit">Create Employee</button>
		</form>
	</div>
	
</body>

</html>